<%- include("header"); -%>

<div class="login-container">
    <h2 class="login-header">Login</h2>
    <p>Enter your email and password to login to your account.</p>

    <form action="" class="login-form" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username">
        <label for="join_code">Password:</label>
        <input type="text" id="password" name="password">
        <button>Submit</button>
    </form>
</div>

<%- include("footer"); -%>